##### Instalaci√≥n de librerias

In [48]:
!!pip install pandas

['Could not find platform independent libraries <prefix>',
 'Requirement already satisfied: pandas in c:\\users\\josel\\onedrive\\escritorio\\challenge telecom x an√°lisis de evasi√≥n de clientes\\env\\lib\\site-packages (3.0.0)',
 'Requirement already satisfied: numpy>=2.3.3 in c:\\users\\josel\\onedrive\\escritorio\\challenge telecom x an√°lisis de evasi√≥n de clientes\\env\\lib\\site-packages (from pandas) (2.4.2)',
 'Requirement already satisfied: python-dateutil>=2.8.2 in c:\\users\\josel\\onedrive\\escritorio\\challenge telecom x an√°lisis de evasi√≥n de clientes\\env\\lib\\site-packages (from pandas) (2.9.0.post0)',
 'Requirement already satisfied: tzdata in c:\\users\\josel\\onedrive\\escritorio\\challenge telecom x an√°lisis de evasi√≥n de clientes\\env\\lib\\site-packages (from pandas) (2025.3)',
 'Requirement already satisfied: six>=1.5 in c:\\users\\josel\\onedrive\\escritorio\\challenge telecom x an√°lisis de evasi√≥n de clientes\\env\\lib\\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)',
 '',
 '[notice] A new release of pip is available: 25.3 -> 26.0.1',
 '[notice] To update, run: python.exe -m pip install --upgrade pip']

#### Importar librerias

In [49]:
import pandas as pd

## Extracci√≥n(E - Extract)

#### Extracci√≥n de datos

###### Para iniciar tu an√°lisis, necesitar√°s importar los datos de la API de Telecom X. Estos datos est√°n disponibles en formato JSON y contienen informaci√≥n esencial sobre los clientes, incluyendo datos demogr√°ficos, tipo de servicio contratado y estado de evasi√≥n.

###### ¬øQu√© debes hacer?

###### ‚úÖ Cargar los datos directamente desde la API utilizando Python.

###### ‚úÖ Convertir los datos a un DataFrame de Pandas para facilitar su manipulaci√≥n.

In [50]:
api = "json/TelecomX_Data.json"

datos_visualizar = pd.read_json(api)

In [51]:
datos_visualizar.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

#### Normalizaci√≥n de datos

In [52]:
df_normalizado = pd.json_normalize(datos_visualizar['customer'])
df_normalizado = pd.json_normalize(datos_visualizar['phone'])
df_normalizado = pd.json_normalize(datos_visualizar['internet'])
df_normalizado = pd.json_normalize(datos_visualizar['account'])

In [53]:
df_normalizado

,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,One year,Yes,Mailed check,65.60,593.3
1,Month-to-month,No,Mailed check,59.90,542.4
2,Month-to-month,Yes,Electronic check,73.90,280.85
3,Month-to-month,Yes,Electronic check,98.00,1237.85
4,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...
7262,One year,No,Mailed check,55.15,742.9
7263,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,Month-to-month,Yes,Mailed check,50.30,92.75
7265,Two year,No,Mailed check,67.85,4627.65
7266,Two year,No,Electronic check,59.00,3707.6

##### Ver tama√±o del dataset

In [54]:
datos_visualizar.shape

(7267, 6)

## Transformaci√≥n (T - Transform)

#### Conoce el conjunto de datos

###### Ahora que has extra√≠do los datos, es fundamental comprender la estructura del dataset y el significado de sus columnas. Esta etapa te ayudar√° a identificar qu√© variables son m√°s relevantes para el an√°lisis de evasi√≥n de clientes.


###### üìå Para facilitar este proceso, hemos creado un diccionario de datos con la descripci√≥n de cada columna. Aunque no es obligatorio utilizarlo, puede ayudarte a comprender mejor la informaci√≥n disponible.


###### üîó Enlace al diccionario y a la API


###### ¬øQu√© debes hacer?
###### ‚úÖ Explorar las columnas del dataset y verificar sus tipos de datos.

###### ‚úÖ Consultar el diccionario para comprender mejor el significado de las variables.

###### ‚úÖ Identificar las columnas m√°s relevantes para el an√°lisis de evasi√≥n.

In [55]:
datos_visualizar.info()

<class 'pandas.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   str
 1   Churn       7267 non-null   str
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(4), str(2)
memory usage: 340.8+ KB

In [56]:
datos_visualizar.dtypes

customerID       str
Churn            str
customer      object
phone         object
internet      object
account       object
dtype: object

### Comprobaci√≥n de incoherencias en los datos

###### En este paso, verifica si hay problemas en los datos que puedan afectar el an√°lisis. Presta atenci√≥n a valores ausentes, duplicados, errores de formato e inconsistencias en las categor√≠as. Este proceso es esencial para asegurarte de que los datos est√©n listos para las siguientes etapas.

In [57]:
datos_visualizar['customerID'].unique()

<StringArray>
['0002-ORFBO', '0003-MKNFE', '0004-TLHLJ', '0011-IGKFF', '0013-EXCHZ',
 '0013-MHZWF', '0013-SMEOE', '0014-BMAQU', '0015-UOCOJ', '0016-QLJIS',
 ...
 '9975-SKRNR', '9978-HYCIN', '9979-RGMZT', '9985-MWVIX', '9986-BONCE',
 '9987-LUTYD', '9992-RRAMN', '9992-UJOEL', '9993-LHIEB', '9995-HOTOH']
Length: 7267, dtype: str

In [58]:
datos_visualizar['Churn'].unique()

<StringArray>
['No', 'Yes', '']
Length: 3, dtype: str

In [59]:
df_normalizado['Contract'].unique()

<StringArray>
['One year', 'Month-to-month', 'Two year']
Length: 3, dtype: str

In [60]:
df_normalizado['PaperlessBilling'].unique()

<StringArray>
['Yes', 'No']
Length: 2, dtype: str

In [61]:
df_normalizado['PaymentMethod'].unique()

<StringArray>
[             'Mailed check',          'Electronic check',
   'Credit card (automatic)', 'Bank transfer (automatic)']
Length: 4, dtype: str

In [62]:
df_normalizado['Charges.Monthly'].unique()

array([65.6 , 59.9 , 73.9 , ..., 91.75, 68.8 , 67.85], shape=(1585,))

In [63]:
df_normalizado['Charges.Total'].unique()

<StringArray>
[  '593.3',   '542.4',  '280.85', '1237.85',   '267.4',  '571.45', '7904.25',
  '5377.8',  '340.35',  '5957.9',
 ...
  '3625.2',  '1517.5', '4871.45',  '6171.2',   '856.5', '4018.05',  '633.45',
   '742.9', '4627.65',  '3707.6']
Length: 6531, dtype: str